//**************** shared across the entire project and components ******************

//**************** css ******************

.page_container {
    display: flex;
    justify-content: center;

    .container {
        max: {
            width: $page_width;
        }
        width: 100%;

        padding: $padding;
    }
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
    margin: {
        top: $padding;
    }

    font: {
        family: $font_family_header;
    }
}

h1 {
    font: {
        size: 1.75rem;
    }

    & + h3 {
        margin: {
            top: $padding * .2;
        }
    }
}

h2 {
    font: {
        size: 1.4rem;
        weight: bold;
    }

    & + h4 {
        margin: {
            top: $padding * .2;
        }
    }
}

h3 {
    font: {
        weight: 600;
    }

    & + h5 {
        margin: {
            top: $padding * .2;
        }
    }
}

h4 {
    font: {
        size: .85rem;
        weight: normal;
    }
    text: {
        transform: uppercase;
    }
}

h5 {
    font: {
        size: .75rem;
        weight: normal;
    }
    text: {
        transform: uppercase;
    }
}

::ng-deep .padded {
    margin: {
        top: $padding;
    }
}

.nowrap {
    white-space: nowrap;
}