.export-menu-panel {
  display: block;
  width: 350px;
}

.export-header-title{
  margin-left: 5px;
  font-weight: 600;
  font-size: 1.15em;
}
.spacer {
  flex-grow: 1;
}

.field-radiobuttons{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 36px;
}

.field-checkbox{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.field-dropdown{
  margin-left: 72px;
}

::ng-deep .p-panel .p-panel-footer{
  background-color: #F8F9FA;
  text-align: center;

}

.options-title{
  font-weight: 600;
  font-size: 1.15em;
}

hr {
  margin: 20px 0;
  background-color: #DEE2E6;
  border: none;
  height: 1px;

}
