@import '../../../css/core';


.fixed-header{
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $padding * 2.5; //spread out header_groups

  background-color: hsl(0, 0%, 97%);
  top: 0;
//  width: 100%;
  min: {
    height: 3rem;
  }

  padding: ($padding * .25) ($padding);

  .header_group {
    display: flex;
    align-items: center;
    gap: $padding * .35;
  }

  .page_info {
    display: flex;
    align-items: center;
  }

  .divider {
    height: 2rem;

    border: {
      left: 1px solid #ddd;
    }
  }

  .spacer {
    flex-grow: 1;
  }

  ::ng-deep .p-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.65rem;
    height: 1.65rem;

    padding: 0rem;
  }
}

.scrollable-canvas {
  /* Adjust padding or margin if needed */
  margin-top: 20px/* height of the fixed header */;
  // width: 100%;
  /* Other styles for the scrollable canvas div */
}
