<div class="page_container">
    <div class="container">
        <h1>1 Enter your protein sequence here</h1>
        <h2>2 Enter your protein sequence here</h2>
        <h3>3 Enter your protein sequence here</h3>
        <h4>4 Enter your protein sequence here</h4>
        <h5>5 Enter your protein sequence here</h5>
<hr />
        <h1>1 Enter your protein sequence here</h1>
        <h3>3 nter your protein sequence here</h3>

        <h2>2 Enter your protein sequence here</h2>
        <h4>4 Enter your protein sequence here</h4>

        <h3>3 Enter your protein sequence here</h3>
        <h5>5 Enter your protein sequence here</h5>

        <button pButton type="button" label="Start" routerLink="/clean" style="marginTop:2rem;"></button>
    </div>
</div>