/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');

//use for base app and primeNG components
body,
body .p-component {
  font: {
    size: .9rem;
    family: 'Inter', sans-serif;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

//unable to load base css file correctly in angular...css variables and some other base css might not load correctly
//@import './app/css/styles';
