//**************** easing functions ******************
// based on https://github.com/jhardy/compass-ceaser-easing
// for samples - http://easings.net

$linear         : "0.250, 0.250, 0.750, 0.750" !default;
$ease           : "0.250, 0.100, 0.250, 1.000" !default;
$ease-in        : "0.420, 0.000, 1.000, 1.000" !default;
$ease-out       : "0.000, 0.000, 0.580, 1.000" !default;
$ease-in-out    : "0.420, 0.000, 0.580, 1.000" !default;

$ease-in-quad     : "0.550, 0.085, 0.680, 0.530" !default;
$ease-in-cubic    : "0.550, 0.055, 0.675, 0.190" !default;
$ease-in-quart    : "0.895, 0.030, 0.685, 0.220" !default;
$ease-in-quint    : "0.755, 0.050, 0.855, 0.060" !default;
$ease-in-sine     : "0.470, 0.000, 0.745, 0.715" !default;
$ease-in-expo     : "0.950, 0.050, 0.795, 0.035" !default;
$ease-in-circ     : "0.600, 0.040, 0.980, 0.335" !default;
$ease-in-back     : "0.600, -0.280, 0.735, 0.045" !default;

$ease-out-quad    :  "0.250, 0.460, 0.450, 0.940" !default;
$ease-out-cubic   :  "0.215, 0.610, 0.355, 1.000" !default;
$ease-out-quart   :  "0.165, 0.840, 0.440, 1.000" !default;
$ease-out-quint   :  "0.230, 1.000, 0.320, 1.000" !default;
$ease-out-sine    :  "0.390, 0.575, 0.565, 1.000" !default;
$ease-out-expo    :  "0.190, 1.000, 0.220, 1.000" !default;
$ease-out-circ    :  "0.075, 0.820, 0.165, 1.000" !default;
$ease-out-back    :  "0.175, 0.885, 0.320, 1.275" !default;

$ease-in-out-quad  :  "0.455, 0.030, 0.515, 0.955" !default;
$ease-in-out-cubic :  "0.645, 0.045, 0.355, 1.000" !default;
$ease-in-out-quart :  "0.770, 0.000, 0.175, 1.000" !default;
$ease-in-out-quint :  "0.860, 0.000, 0.070, 1.000" !default;
$ease-in-out-sine  :  "0.445, 0.050, 0.550, 0.950" !default;
$ease-in-out-expo  :  "1.000, 0.000, 0.000, 1.000" !default;
$ease-in-out-circ  :  "0.785, 0.135, 0.150, 0.860" !default;
$ease-in-out-back  :  "0.680, -0.550, 0.265, 1.550" !default;

//**************** functions ******************
// to use inside a transition or animation block
// transition: all 1s easing($ease-out--back) .25s;

@function easing($type: $ease) {
	@return cubic-bezier(unquote($type));
}

//**************** mixin ******************
// to use for the entire transition block (the function gives more flexibility)

@mixin easing-transition($properties: all, $duration: 500ms, $type: $ease, $delay: 0ms) {
	@include transition($properties $duration cubic-bezier(unquote($type)) $delay);
}