<p-fileUpload name="demo[]" url="./upload.php" accept="image/*">
    <ng-template pTemplate="content">
        <textarea pInputTextarea [rows]="20" [cols]="100" [(ngModel)]="sequenceData"></textarea>
    </ng-template>
</p-fileUpload>

<br>
<p-button label="Validate" (click)="submitValidate()" color="#224063"></p-button>
<br>
<br>
<div class="alert alert-danger">Temp error message</div>
<br>
<p-panel header="Summary">
    
    {{validationText}} <i *ngIf="!isValid" class="pi pi-spin pi-spinner"></i> <i *ngIf="isValid" class="pi pi-check-circle"></i>
    
</p-panel>
<br>

<br>
<p-button label="Get the CLEAN Result ->" (click)="submitData()"></p-button>