/**************** app ******************/

@import '../../../css/core';

//use primeng theme colors whenver possible
//https://www.primefaces.org/primeng/colors

//**************** custom mixins ******************


//**************** css ******************

::ng-deep .p-progressbar {
    height: .5rem;
}

.header {
    @include on_desktop() {
        display: flex;
        align-items: flex-end;
        gap: $padding;
    }

    margin: {
        bottom: $padding * 2;
    }

    h3 {
        margin: 0px;
    }

    .info {
        .details {
            @include on_desktop() {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                gap: (0px) $padding;
            }

            margin: {
                top: $padding * .2;
            }

            font: {
                size: .75rem;
            }

            > div {
                white-space: nowrap;
            }
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: $padding * .5;

        @include not_desktop() {
            margin: {
                top: $padding;
            }
        }

        .p-button {
            white-space: nowrap;
        }
    }

    .spacer {
        flex-grow: 1;
    }

    .copy_and_paste_button {
        cursor: pointer;

        &:hover {
            color: css_var(primary-color);
        }
    }
}

a:link, a:visited, a:active {
    color: #495057;
}

.card {
    margin: auto;
    width: 70%;
}

:host ::ng-deep .p-message.p-message-info {
    background: #F2F5FC;
    border-width: 0 0 0 0;
    color: #224063;
    text-align: center;
    .p-message-icon {
        display: none;
    }
}

:host ::ng-deep .p-message.p-message-error {
    border-width: 0 0 0 0;
    text-align: left;
}

.table_caption {
    display: flex;
    justify-content: space-between;
    align-items: center; //flex-end;
    gap: $padding;

    h3 {
        margin: 0px;
    }
}

.failJob {
    margin: auto;
    text-align: center;
    width: 100%;
}

.loadingDiv{
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F5FB;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  &::ng-deep .p-progress-spinner-circle{
    stroke: #224063 !important;
  }
  & > :first-child {
    margin-bottom: 48px;
  }
}

.loader{
  .loadingTitle{
    margin-bottom: 40px;
  }

  &::ng-deep .p-steps-title{
    color: #FFFFFF !important;
  }

  &::ng-deep .completed-stage{
    background: #224063 !important;
    color: #FFFFFF !important;
    border-color: #224063;
  }
  &::ng-deep .p-disabled{
    opacity: 1;
  }

}


p-panel{
  &::ng-deep .result-header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.result-container {
  display: flex;
  .column1 {
    flex: 1;
    width: 50%;
    transition: flex 0.3s ease;
  }

  .column2 {
    flex: 1;
  }

  .collapsed {
    flex: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
  }

  .example_data {
    overflow: {
        y: auto;
    }
    min: {
        height: 8rem;
    }
    max: {
        height: 30rem;
    }

    // padding: $padding ($padding * 1.5);

    overflow-wrap: break-word;
  }
}

.search-row, .sort-row  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input, .sort-text {
  flex: 8;
  margin-right: 6px;
  margin-left: 12px;
}

.filter-button, .sort-button {
  flex: 2;
  margin-left: 6px;
}

.table-container {
  height: 100%;
  overflow: hidden;
}


.container ::ng-deep .p-sidebar{
  z-index: get-index(modal) !important;
}
