/**************** configuration ******************/

@import '../../../css/core';

//use primeng theme colors whenver possible
//https://www.primefaces.org/primeng/colors

//**************** custom mixins ******************


//**************** css ******************

:host ::ng-deep .p-panel-header {
    background-color: css_var('interface_background_tint');
}

.panel_content {
    //fill the space with the textarea
//    margin: -($padding * .75) (-($padding * .5));
    margin: {
        top: -($padding * 1.25);
        right: -($padding * 1.25);
        bottom: -($padding * 1.25);
        left: -($padding * 1.25);
    }

    textarea {
        display: block;

        padding: ($padding) ($padding * 1.5);

        border: 0px;

        @include input-block-level();
    }
}

::ng-deep p-selectbutton {
    .p-button {
        display: inline-flex;
        gap: $padding * .35;

        font: {
            size: .75rem;
        }

        @include p-button-xs();
    }
}

:host ::ng-deep .p-message.p-message-info {
    background: css_var('interface_background_tint');
    border-width: 0 0 0 0;
    color: #224063;
    text-align: center;
    .p-message-icon {
        display: none;
    }
}

.panel_bar {
    display: flex;
    align-items: center;
    gap: $padding * .5;

    padding: ($padding * .5) ($padding * 1.5);

    border: {
        bottom: 1px solid css_var('interface_border');
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0px;
    }

    .spacer {
        flex-grow: 1;
    }
}

.dropzone ::ng-deep{
   .p-button{
    gap: $padding;
    font-size: 0.75em;
   }
   .drag-comment{
    margin-top: 15px;
    font-size: 0.75em;
    color: #6C757D;
    font-weight: 200;
   }
}

.validation {
    border: 1px solid #eee;

    @include border-radius($border_radius); //css_var('border-radius', '', '')); //use primeng setting

    .status {
        display: flex;
        align-items: flex-start;
        gap: $padding * .5;

        padding: $padding ($padding * 1.5);

        @include border-top-radius($border_radius);

        &.error {
            color: css_var('status_error_text');
            background: {
                color: css_var('status_error');
            }
        }

        &.warning {
            color: css_var('status_warning_text');
            background: {
                color: css_var('status_warning');
            }
        }

        .status_label {
            font: {
                weight: bold;
            }
        }
    }

    .info {
        display: flex;
        align-items: flex-start;
        gap: $padding * .5;

        padding: $padding ($padding * 1.5);

        .message {
            flex-grow: 1;

            padding: {
                top: $padding * .25;
            }
        }

        .progress_icon {
            .pi {
                margin: .2rem;

                font: {
                    size: 1.25rem;
                }
            }
        }
    }
}

.controls {
    @include on_desktop() {
        display: flex;
        align-items: flex-start;
        gap: $padding * 2;
    }

    margin: {
        top: $padding;
    }

    .review {
        flex-grow: 1;

        h3 {
            margin: 0px;
        }
    }

    .buttons {
        padding: {
            top: $padding * 1.5;
        }

        .p-button {
            &:disabled {
                color: css_var('button_disabled_label');
                background: {
                    color: css_var('button_disabled');
                }

                border: {
                    color: css_var('button_disabled');
                }
            }
        }

        ::ng-deep .p-button-label {
            white-space: nowrap;
        }
    }
}

.example_data {
    overflow: {
        y: auto;
    }
    min: {
        height: 8rem;
    }
    max: {
        height: 30rem;
    }

    // padding: $padding ($padding * 1.5);

    overflow-wrap: break-word;
}


// File drop zone
.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  text-align:center;
}

.dropzone {
    height: 200px;
    display: table;
    width: 97%;
    background-color: css_var('interface_background');
    border: dotted 1px #aaa;
    margin: 14px;
    border-radius: 6px;

}

input[type="file"]{
  display:none;
}

.files_table{
  &::deep .files_table_data_col{
    width: 20%;
  }

  &::deep .files_table_button_col{
    width: 60%;
    text-align: right;
  }
}

::ng-deep .p-datatable {
    td {
        vertical-align: middle;

        &.column_controls {
            ::ng-deep .p-button {
                margin: {
                    right: $padding * .35;
                }
                padding: ($padding * .25) ($padding);
            }
        }
    }
}